main {
    padding: 20px 0px;

    h2 {
        font-family: var(--secondary-font);
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: var(--secondary-color);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        gap: 2rem;

        figure {
            width: 325px;
            height: auto;
        }
    }


    .content {
        h3 {
            font-family: var(--primary-font);
            font-size: 2rem;
            font-weight: 300;
            color: var(--secondary-color);
        }

        p {
            font-family: var(--primary-font);
            font-size: 1rem;
            color: lightslategray;
        }

    }
}


@media(width >=48rem) {
    main .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(width >=62rem) {
    main .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}